
<h1>An Amazing Bowling App</h1>
<div id="box-score">
  <%= render 'bowl' %>
</div><br>
<div id="roll">
  <%= render 'form' %>
</div>
<br>
<br>


<%= button_to 'Reset', bowl_reset_path, method: :delete, confirm: 'Bad Frame?', class: "reset-button" %>


<!-- # <%= link_to 'New Bowl', new_bowl_path %> -->
