
<h1>An Amazing Bowling App</h1>

<!-- AJAX render bowl -->
<div id="box-score"> 
  <%= render 'bowl' %>
</div><br>

<!-- AJAX render form -->
<div id="roll">
  <%= render 'form' %>
</div>

<br>
<br>


<%= button_to 'Reset', bowl_reset_path, method: :delete, confirm: 'Bad Frame?', class: "reset-button" %>


<!-- # <%= link_to 'New Bowl', new_bowl_path %> -->
